# Ignora o conteúdo da pasta hypr
hypr/.config/hypr/*

# Abre exceção para os arquivos específicos
!hypr/.config/hypr/keybindings.conf
!hypr/.config/hypr/windowrules.conf

# O restante das pastas (kitty, nvim, waybar, zsh) será rastreado normalmente
# caches/build
**/.cache/
**/paru/
**/yay/
**/pacman/

# HyDE / AUR cache
**/paru/

# local backups
.config/nvim.bak.*
.zshrc.bak.*

machine.conf
**/themes
